ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

h1 {
    text-align: center;
}
h4 {
    text-align: center;
}
h3 {
    margin-left: 5%;
    margin-right: 5%;
}
footer {
    text-align: center;
}